h1{
    background-color: black;
    font-size: 50px;
    color: aliceblue;
    text-align: center;
    border-radius: 25px;
}
div{
    padding: 25px;
    margin-left: 2px;
    
    background-color: gray;
    height: 500px;
    width: 1500px;
    border-radius: 25px;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;


}
#zero{
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    width: 277px;
    
    background-color: brown;
    padding: 20px;
    
}
#one{
    transition: transform 0.3s ease;
    color:pink;
    margin-left: 30px;
}
#one:hover{
    transform: scale(1.02);
}